body {
				background:url(../images/home_background.jpg);
				background-size: 100% 100%;
				font-family:"Arial";
				margin:0px;
			}
			.opaque-navbar {
                background-color: rgba(0,0,0,1);
                height: 55px;
                transition: background-color 0.5s ease 0s;
            }
			.welcome-user{
				color:#cb9f1a;
				padding-top: 10px;
			}
			.container{
				margin-top:250px;
			}
			.row{
                margin-bottom:20px;
                transition:transform .2s;
			}
			.row a {
                font-size:50px;
                color:#cb9f1a;
                opacity: 0.8;
                filter: alpha(opacity=80);
                text-decoration: none;
			}
			.row:hover {
                -ms-transform: scale(1.5); /* IE 9 */
                -webkit-transform: scale(1.5); /* Safari 3-8 */
                transform: scale(1.2); 
            }