@font-face {
	font-family: myFont;
	src: url(Felixti.TTF);
}
@font-face {
	font-family: myFonta;
	src: url(PRISTINA.TTF);
}

            body{
			    background-image: url(../images/backgroundR.jpg);
				background-size: cover;
				background-repeat:no-repeat;
				background-position: center;
				}
			#left-arrow {
				width:25px;
				height:25px;
				vertical-align: text-bottom;
			}
			a.hintbtn{
				position: fixed;
				top: 20px;
				right: 20px;	
				text-decoration: none;
				color: black;
				height: 100px;
			}
			.questionbox{
				margin-top: 30px;
				padding: 10px;
				background: rgba(194, 178, 128, .3);
				border-radius: 20px;
				width: 50%;
				font-family: myFont;
			}	
			.qimgbox{
				padding: 2px;
				background: rgba(194, 178, 128, .3);
				border-radius: 20px;
				margin-bottom: 20px;
			}		
			.qimg{
				width: 100%;
				border-radius: 20px;
			}
			.qtxt{
				font-weight: bold;
				padding: 10px;
				margin-bottom: 5px;
				font-size: 1.3em;
			}
			.abox{
				padding: 10px;
				border-radius: 10px;
				background: rgba(194, 178, 128, .5);
			}
			.ansbox{
				width: 79%;
				font-size: 1.2em;
				background: none;
				border: none;
				border-bottom: 1px solid black;
				padding: 10px;
			}
			.ansbox::placeholder{
				color: #303030;
			}
			.ansbtn{
				min-width: 20%;
				font-size: 1.2em;
				border: none;
				border-radius: 5px;
				padding: 10px;
				font-family: myFont;
				transition: .5s;
			}
			.ansbtn:hover{
				background: grey;
			}

			@media(max-width: 768px){
				
				.questionbox{
					margin-top: 70px;
					padding: 10px;
					background: rgba(170, 170, 170, .7);
					border-radius: 20px;
					width: 90%;
				}	
				a.backbtn{
					top: -50px;
					left: -40px;
				}
				a.hintbtn{
					top: 0px;
					right: 0px;
				}
			}